.field__label {
  position: relative;
  .upper();
  line-height: 1;
  margin-right: 15px;
}

.field__list .field__label {
  display: block;
  margin-bottom: 45px;

  &:first-child {
    margin-top: 30px;
  }
}

.field__svg {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  fill: @green-button;
}

.field__circle {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: @green-button;
  margin: 0 auto;
  margin-top: 9px;
}

.field__label input[type="radio"] + .field__indicator {
  position: absolute;
  content: "";
  top: 0;
  left: 20px;
  width: 30px;
  height: 30px;
  /*background-image: url("../img/icon-tick.svg");*/
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
}

.field__label input[type="radio"]:not(:checked) + .field__indicator {
  position: absolute;
  content: "";
  top: 0;
  left: 20px;
  width: 30px;
  height: 30px;
  background-image: none;
  background-size: 100%;
  background-position: center;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
}

.field__label input[type="checkbox"]:checked + .field__indicator {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  /*background-image: url("../img/icon-tick.svg");*/
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #cdcdcd;
}

.field__label input[type="checkbox"]:not(:checked) + .field__indicator {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: none;
  border: 1px solid #cdcdcd;
}

.field__indicator {
  width: 40px;
  height: 40px;
}

.field__label input[type="radio"]:checked ~ .field__circle {
  display: block;
}

.field__label input[type="radio"]:not(:checked) ~ .field__circle {
  display: none;
}

.field__list {
  height: auto;
  display: flex;
  flex-direction: column;
  .list-style();
  .border();

  &--noborder {
    border: none;
  }
}

.field__input {
  .input-border();
  margin-bottom: 15px;
  font-size: 16px;
  vertical-align: middle;

  &::placeholder {
    padding-left: 15px;
  }

  &--name {
    width: 224px;
  }

  &--weight {
    width: 205px;
  }

  &--age {
    width: 176px;
  }

  &--email {
    width: 214px;
    background-image: url("../img/icon-mail.svg");
    background-size: 18px 18px;
    background-position: 183px center;
    background-repeat: no-repeat;
  }

  &--phone {
    width: 199px;
    background-image: url("../img/icon-phone.svg");
    background-size: 21px 21px;
    background-position: 170px center;
    background-repeat: no-repeat;
  }
}

.field__span {
  display: block;
  padding: 0;
  margin: 0;
  margin-left: 75px;
  padding-top: 10px;
}

.field__span-check {
  position: absolute;
  display: block;
  top: 10px;
  padding: 0;
}

.field__item {
  padding-top: -25px;

  &--last {
    /*padding-bottom: 25px;*/
  }

  &--radio {
    width: 280px;
  }
}

@media (min-width: @tablet-width) {
  .field__list {
    flex-direction: column;
    width: 630px;
  }

  .field__list-over {
    min-height: 120px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  .field__item {
    margin-right: 80px;

    &--last {
      padding-bottom: 0;
    }
  }

  .field__span {
    font-size: 20px;
  }

  .field__label {
    font-size: 20px;
    white-space: nowrap;
  }

  .field__list .field__label {
    margin-bottom: 35px;


    &:first-child {
      margin-left: 0;
    }
  }

  .field__label-over {
    position: relative;

    &--last {
      margin-right: 52px;
    }
  }

  .field__input {
    &--name {
      width: 558px;
    }

    &--weight {
      width: 530px;
    }

    &--age {
      width: 490px;
    }

    &--email {
      width: 550px;
      background-position: 510px center;
    }

    &--phone {
      width: 530px;
      background-position: 490px center;
    }
  }

  .field__label input[type="radio"] + .field__indicator,
  .field__label input[type="radio"]:not(:checked) + .field__indicator,
  .field__label input[type="checkbox"]:checked + .field__indicator,
  .field__label input[type="checkbox"]:not(:checked) + .field__indicator {
    width: 40px;
    height: 40px;
  }

  .field__circle {
    width: 18px;
    height: 18px;
    margin-top: 11px;
  }
}

@media (min-width: @desktop-width) {
  .field__list {
    flex-direction: column;
    width: 570px;
    box-sizing: border-box;
  }

  .field__item {
    margin-right: 50px;

    &--last {
      padding-bottom: 0;
    }
  }

  .field__list-over {
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .field__list .field__label {
    display: block;
    margin-bottom: 30px;
    margin-left: 35px;
  }

  .field__label-over {
    margin-right: 0;
  }

  .field__input {
    margin-bottom: 24px;

    &--name {
      width: 499px;
    }

    &--weight {
      width: 470px;
    }

    &--age {
      width: 430px;
    }

    &--email {
      width: 485px;
      margin-right: 60px;
      background-position: 445px center;
    }

    &--phone {
      width: 470px;
      background-position: 435px center;
    }
  }
}
