.field:last-child {
  margin-top: -4px;
}

.field__label {
  position: relative;
  .upper();
  line-height: 1;
  margin-right: 15px;
  bottom: 6px;
  font-size: 16px;

  &-contacts {
    margin-right: 10px;
  }
}

.field__list .field__label {
  display: block;
  margin-bottom: 45px;

  &:first-child {
    margin-top: 30px;
  }
}

.field__svg {
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  fill: @green-button;
}

.field__circle {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: @green-button;
  margin: 0 auto;
  margin-top: 9px;
}

.field__label input[type="radio"] + .field__indicator {
  position: absolute;
  content: "";
  top: 0;
  left: 20px;
  width: 30px;
  height: 30px;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
}

.field__label input[type="radio"]:not(:checked) + .field__indicator {
  position: absolute;
  content: "";
  top: 0;
  left: 20px;
  width: 30px;
  height: 30px;
  background-image: none;
  background-size: 100%;
  background-position: center;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
}

.field__label input[type="checkbox"]:checked + .field__indicator {
  position: absolute;
  content: "";
  top: 0;
  left: 16px;
  width: 30px;
  height: 30px;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #cdcdcd;
}

.field__label input[type="checkbox"]:not(:checked) + .field__indicator {
  position: absolute;
  content: "";
  top: 0;
  left: 16px;
  width: 30px;
  height: 30px;
  background: none;
  border: 1px solid #cdcdcd;
}

.field__indicator {
  width: 40px;
  height: 40px;
}

.field__label input[type="radio"]:checked ~ .field__circle {
  display: block;
}

.field__label input[type="radio"]:not(:checked) ~ .field__circle {
  display: none;
}

.field__list {
  width: 320px;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  .list-style();
  .border();
  margin-top: -45px;
  margin-left: -18px;

  &--noborder {
    border: none;
  }
}

.field__input {
  .input-border();
  margin-bottom: 15px;
  font-size: 16px;
  vertical-align: middle;

  &::placeholder {
    padding-left: 15px;
  }

  &--name {
    width: 218px;
  }

  &--weight {
    width: 197px;
  }

  &--age {
    width: 164px;
  }

  &--email {
    width: 212px;
    background-image: url("../img/icon-mail.svg");
    background-size: 18px 18px;
    background-position: 180px center;
    background-repeat: no-repeat;
  }

  &--phone {
    width: 195px;
    background-image: url("../img/icon-phone.svg");
    background-size: 21px 21px;
    background-position: 165px center;
    background-repeat: no-repeat;
  }
}

.field__span {
  display: block;
  padding: 0;
  margin: 0;
  margin-left: 75px;
  padding-top: 10px;

  &-radio {
    font-size: 16px;
    margin-top: -5px;
    margin-left: 65px;
  }
}

.field__span-check {
  position: absolute;
  display: block;
  top: 10px;
  padding: 0;
  margin-right: 50px;
}

.field__item {
  padding-top: -20px;
  height: 41px;

  &--radio {
    width: 280px;
    height: 40px;
  }
}

@media (min-width: @tablet-width) {
  .field__list {
    display: block;
    flex-direction: column;
    width: 630px;
    height: 195px;
    padding-bottom: 10px;
  }

  .field__list-over {
    width: 588px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    margin-top: -65px;
  }

  .field__item {
    display: block;
    margin-right: 80px;

    &--last {
      display: block;
      padding-bottom: 10px;
    }

    &--radio {
      display: block;
      margin-top: 30px;
    }
  }

  .field__item-checkbox {
    width: 160px;
  }

  .field__span {
    font-size: 20px;

    &-radio {
      margin-left: 80px;
    }
  }

  .field__label {
    font-size: 20px;
    white-space: nowrap;
  }

  .field__list .field__label {
    margin-bottom: 35px;


    &:first-child {
      margin-left: 0;
    }
  }

  .field__label-over {
    position: relative;

    &--last {
      margin-right: 52px;
    }
  }

  .field__svg {
    margin-top: 10px;
  }

  .field__input {
    height: 54px;
    opacity: 0.5;

    &--name {
      width: 558px;
    }

    &--weight {
      width: 530px;
    }

    &--age {
      width: 490px;
    }

    &--email {
      width: 550px;
      background-position: 510px center;
      margin-bottom: 20px;
    }

    &--phone {
      width: 530px;
      background-position: 490px center;
    }

    &::placeholder {
      font-size: 20px;
    }
  }

  .field__label input[type="radio"] + .field__indicator,
  .field__label input[type="radio"]:not(:checked) + .field__indicator,
  .field__label input[type="checkbox"]:checked + .field__indicator,
  .field__label input[type="checkbox"]:not(:checked) + .field__indicator {
    width: 40px;
    height: 40px;
  }

  .field__circle {
    width: 18px;
    height: 18px;
    margin-top: 11px;
  }
}

@media (min-width: @desktop-width) {
  .field__list {
    flex-direction: column;
    width: 570px;
    box-sizing: border-box;
  }

  .field__item {
    display: block;
    margin: 0;

    &--last {
      padding-bottom: 0;
    }
  }

  .field__list-over {
    width: 1130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-left: -17px;
    box-sizing: border-box;
  }

  .field__list .field__label {
    display: block;
    margin: 0;
    margin-bottom: 30px;
    margin-left: 35px;
  }

  .field__label-over {
    margin-right: 0;
  }

  .field__input {
    margin-bottom: 24px;
    height: 45px;

    &--name {
      width: 499px;
    }

    &--weight {
      width: 470px;
    }

    &--age {
      width: 430px;
    }

    &--email {
      width: 485px;
      margin-right: 60px;
      background-position: 445px center;
    }

    &--phone {
      width: 470px;
      background-position: 435px center;
    }
  }
}
