.footer-block {
  background-color: @grey;
}

.footer-block__invitation {
  .upper(16px);
  line-height: 1.25;
  font-weight: normal;
  white-space: nowrap;
}

.footer-block__address {
  .arial();
  line-height: 1.45;
  font-style: normal;
  margin-left: 15px;
}

@media (min-width: @tablet-width) {
  .footer-block {
    display: flex;
    align-items: center;
    width: 768px;
    height: 200px;
    box-sizing: border-box;
    background-color: @grey;

    &--white {
      background-color: @white;
    }
  }

  .footer-block__invitation {
    font-size: 20px;
  }

  .footer-block__address {
    width: 200px;
    font-size: 16px;
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .footer-block {
    position: absolute;
    width: 570px;
    box-sizing: border-box;
    top: 95px;
    left: 110px;
    background-color: @white;
  }

  .footer-block__address {
    width: 250px;
    text-align: left;
    margin-left: 90px;
  }
}
