.footer-block {
  background-color: @grey;
}

.footer-block__invitation {
  .upper(16px);
  line-height: 1.25;
  font-weight: normal;
}

.footer-block__address {
  .arial();
  line-height: 1.45;
  font-style: normal;
}

.footer-block--white {
  background-color: @white;
}
