.form-wrapper__textarea {
  .input-border();
  width: 280px;
  height: 150px;
  resize: none;

  &::placeholder {
    padding-left: 15px;
  }
}

@media (min-width: @tablet-width) {
  .form-wrapper__textarea {
    display: flex;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .form-wrapper {
    &--flex {
      display: flex;
    }
  }
}
