.gift {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: 280px;
  height: 289px;
}

.gift__message {
  .center();
  .arial(16px);
  color: @white;
  line-height: 1.25;
  font-weight: normal;
  margin-top: 40px;
  padding-top: 190px;
}
