.gift {
  background-color: @green-hover;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 280px 289px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px 289px;
  }
}

@media (min-width: 320px) and (min-resolution: 144dpi),
  (min-width: 320px) and (min-resolution: 1.5dppx) {
  .gift {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px 289px;
  }
}

.gift__message {
  .center();
  .arial(16px);
  color: @white;
  line-height: 1.25;
  font-weight: normal;
  margin-top: -40px;
  padding-top: 100px;
}

.gift__svg {
  display: block;
  margin: 0 auto;
  padding-top: 65px;
}

.gift__path {
  fill: @white;
}

@media (min-width: @tablet-width) {
  .gift {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-size: 708px 200px;
    margin-top: 70px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px 200px;
    }
  }

  @media (min-width: @tablet-width) and (min-resolution: 144dpi),
    (min-width: @tablet-width) and (min-resolution: 1.5dppx) {
    .gift {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px 200px;
    }
  }

  .gift__message {
    padding-top: 0;
    padding-left: 290px;
  }

  .gift__svg {
    display: block;
    margin-left: 130px;
  }
}

@media (min-width: @desktop-width) {
  .gift {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-size: 240px 289px;
    width: 240px;
    height: 289px;
    margin-left: -80px;
    margin-top: 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 240px 289px;
    }
  }

  @media (min-width: @desktop-width) and (min-resolution: 144dpi),
    (min-width: @desktop-width) and (min-resolution: 1.5dppx) {
    .gift {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 240px 289px;
    }
  }

  .gift__message {
    margin-top: -110px;
    padding-top: 170px;
    padding-left: 10px;
  }

  .gift__svg {
    display: block;
    margin: 0 auto;
  }
}
