.howitworks-list {
  .list-style();
  .margin();
  margin-bottom: 50px;
}

.howitworks-list__item {
  position: relative;
  .arial();
}

.howitworks-section__list {
  position: relative;
}

.howitworks-list__paragraph {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  left: 80px;

  &--leaf::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: @green-button;
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--powder::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: @green-button;
    background-image: url("../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--fork::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: @green-button;
    background-image: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--clock::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: @green-button;
    background-image: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: @tablet-width) {
  .howitworks-list {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid grey;
  }

  .howitworks-list__item {
    display: block;
    width: 225px;
    min-height: 228px;
    flex-wrap: wrap;
    margin-right: 160px;
    margin-bottom: 90px;

    &:nth-child(3n),
    &:last-child {
      margin-bottom: 50px;
    }
  }

  .howitworks-list__item:nth-child(2n) {
    margin-right: 0;
  }

  .howitworks-list__paragraph {
    top: 50px;
    left: 0;
    line-height: 1.5;
    margin-top: 65px;
    font-size: 16px;

    &--leaf::before {
      width: 80px;
      height: 80px;
    }

    &--powder::before {
      width: 80px;
      height: 80px;
    }

    &--fork::before {
      width: 80px;
      height: 80px;
    }

    &--clock::before {
      width: 80px;
      height: 80px;
    }

    &--leaf::after {
      position: absolute;
      content: "1";
      font-size: 280px;
      top: -80px;
      left: 120px;
      color: #f2f2f2;
      font-family: "Oswald", "Arial", sans-serif;
      z-index: -1;
    }

    &--powder::after {
      position: absolute;
      content: "2";
      font-size: 280px;
      top: -80px;
      left: 120px;
      color: #f2f2f2;
      font-family: "Oswald", "Arial", sans-serif;
      z-index: -1;
    }

    &--fork::after {
      position: absolute;
      content: "3";
      font-size: 280px;
      top: -80px;
      left: 120px;
      color: #f2f2f2;
      font-family: "Oswald", "Arial", sans-serif;
      z-index: -1;
    }

    &--clock::after {
      position: absolute;
      content: "4";
      font-size: 280px;
      top: -80px;
      left: 120px;
      color: #f2f2f2;
      font-family: "Oswald", "Arial", sans-serif;
      z-index: -1;
    }
  }

  .howitworks-section__list {
    margin: 0;
    margin-left: 30px;
    margin-bottom: 100px;
  }
}

@media (min-width: @desktop-width) {
  .howitworks-list {
    display: flex;
    justify-content: space-between;
    border: none;
  }

  .howitworks-list__item {
    display: block;
    width: 220px;
    min-height: 228px;
    margin-right: 0;
  }

  .howitworks-list__paragraph {
    width: 380px;
    line-height: 1.5;
    top: 50px;
    left: 0;
  }
}
