.index-header {
  display: block;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 305px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px 305px;
  }
}

@media (min-width: 320px) and (min-resolution: 144dpi),
  (min-width: 320px) and (min-resolution: 1.5dppx) {
  .index-header {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px 305px;
  }
}

.index-header__title,
.index-header__bold {
  .center();
  color: @white;
  font-weight: normal;
}

.index-header__title {
  width: 320px;
  margin: 0;
  padding: 0;
  font-size: 36px;
  margin-bottom: 20px;
  padding-top: 28px;
  line-height: 1;
}

.index-header__bold {
  width: 320px;
  .upper();
}

.index-header__food {
  .margin(30px, 20px, 0, 20px);
}

.index-header__selection {
  .green-button();
  .margin();
  outline: none;
  border: none;
  line-height: 1;
}

/*.page-main__example-text,*/
.info-block__slim-paragraph,
.info-block__gain-paragraph {
  .arial();
}

.info-block__catalog--slim,
.info-block__catalog--pro {
  .upper(16px);

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .index-header {
    position: relative;
    background: none;
    margin-top: 80px;
  }

  .index-header__title {
    width: @tablet-width;
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    color: @black;
    font-size: 60px;
    left: 27px;
    top: -110px;
    text-align: left;
  }

  .index-header__food {
    width: 720px;
    height: 610px;
    margin-top: 90px;
    margin-left: -50px;
  }

  .index-header__bold {
    position: absolute;
    left: 10px;
    top: 50px;
    font-size: 20px;
    color: @black;
  }

  .index-header__selection {
    position: absolute;
    width: 245px;
    height: 52px;
    font-size: 18px;
    margin-left: 30px;
    padding-top: 15px;
    box-sizing: border-box;
    top: 118px;
    white-space: nowrap;
  }
}

@media (min-width: @desktop-width) {
  .index-header {
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -145px;
    margin-bottom: 80px;
    min-height: 650px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 720px 700px;
    background-position: 100% 10%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: 720px 696px;
    }
  }

  @media (min-width: @desktop-width) and (min-resolution: @retina-dpi),
    (min-width: @desktop-width) and (min-resolution: @retina-dppx) {
    .index-header {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: 720px 696px;
    }
  }


  .index-header__title {
    width: @desktop-width;
    position: relative;
    margin-top: 320px;
    margin-left: 124px;
  }

  .index-header__food {
    position: absolute;
    top: 35px;
    right: 300px;
    width: 552px;
    height: 499px;
  }

  .index-header__bold {
    position: absolute;
    top: 370px;
    margin-left: 124px;
  }

  .index-header__selection {
    position: absolute;
    padding-top: 15px;
    top: 440px;
    left: 120px;
    font-size: 20px;
  }
}
