.info-block {
  background-color: @grey;
  min-height: 255px;
}

.info-block__header {
  display: block;
  padding: 0;
  margin: 0;
  position: relative;
  .upper(24px);
  font-weight: normal;
  padding-top: 30px;
  padding-left: 90px;
  padding-bottom: 30px;

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    left: 20px;
    top: 23px;
    z-index: 2;
  }

  &::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: @green-button;
    left: 20px;
    top: 22px;
    z-index: 1;
  }

  &--slim::before {
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--gain::before {
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 67px;
    height: 28px;
    left: 10px;
    top: 30px;
  }
}

.info-block__slim-paragraph,
.info-block__gain-paragraph {
  .margin();
  margin-bottom: 17px;
  border-bottom: 1px solid @black;
  padding-bottom: 25px;
  line-height: 1.35;
  display: block;
  margin-top: 7px;
}

.info-block__catalog {
  &--slim,
  &--pro {
    position: relative;
    display: block;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  &--slim::after,
  &--pro::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 12px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: center;
    left: 116px;
  }
}

@media (min-width: @tablet-width) {
  .info-block {
    width: 708px;
    height: 372px;
  }

  .info-block__header {
    margin: 0;
    padding: 0;
    font-size: 36px;
    .padding(70px, 250px, 26px, 50px);


    &--slim::before {
      width: 141px;
      height: 194px;
      left: 475px;
      top: 75px;
    }

    &--gain::before {
      width: 268px;
      height: 113px;
      left: 415px;
      top: 130px;
    }

    &--slim::after {
      width: 200px;
      height: 200px;
      left: 450px;
      top: 90px;
    }

    &--gain::after {
      width: 200px;
      height: 200px;
      left: 450px;
      top: 90px;
    }
  }

  .info-block__slim-paragraph,
  .info-block__gain-paragraph {
    width: 370px;
    margin-top: -5px;
    margin-left: 50px;
    border: none;
    font-size: 16px;
    line-height: 1.5;
  }

  .info-block__catalog {
    &--slim {
      margin-top: 30px;
      margin-left: 30px;
      font-size: 20px;
    }

    &--pro {
      margin-top: 55px;
      margin-left: 35px;
      font-size: 20px;
    }

    &--slim::after {
      top: 9px;
      left: 154px;
    }

    &--pro::after {
      top: 7px;
      left: 142px;
    }
  }
}

@media (min-width: @desktop-width) {
  .info-block {
    padding: 0;
    margin: 0;
    width: 570px;
    height: 372px;
  }

  .info-block__slim-paragraph,
  .info-block__gain-paragraph {
    .margin();
    border-bottom: none;
    font-size: 16px;
    padding-left: 52px;
    padding-right: 55px;
    margin-top: 45px;
  }

  .info-block__header {
    .padding(65px, 250px, 26px, 200px);
    font-size: 36px;
    white-space: nowrap;

    &--slim::before {
      width: 71px;
      height: 97px;
      left: 70px;
      top: 40px;
    }

    &--gain::before {
      width: 134px;
      height: 57px;
      left: 34px;
      top: 60px;
    }

    &--slim::after {
      width: 100px;
      height: 100px;
      left: 60px;
      top: 40px;
    }

    &--gain::after {
      width: 100px;
      height: 100px;
      left: 60px;
      top: 40px;
    }
  }

  .info-block__catalog {
    &--slim,
    &--pro {
      padding-left: 40px;
      margin-top: -10px;
    }

    &--slim::after,
    &--pro::after {
      top: 25px;
      left: 160px;
    }
  }

  .info-block__catalog--pro {
    margin-top: 10px;
  }
}
