.logo {
  position: relative;
  width: 175px;

  &--opened:active::before {
    .page-navigation__list {
      display: none;
    }
  }

  &--closed::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 255px;
    width: 25px;
    height: 2px;

    background-color: @black;
    box-shadow: 0 8px 0 0 @black, 0 16px 0 0 @black;
  }

  &--opened {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 250px;
      width: 36px;
      height: 2px;
      background-color: @black;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.logo__burger {
  position: absolute;
  display: block;
  background: none;
  font-size: 0;
  width: 65px;
  height: 65px;
  top: -15px;
  left: 335px;
  border: 0;
}

.logo__img {
  background-size: 100%;
  background-position: center;
  width: 191px;
  height: 39px;
  max-width: none;

  &:hover {
    .opacity();
  }

  &:active {
    .opacity(0.6);
  }
}

@media (min-width: @tablet-width) {
  .logo {
    width: 175px;

    &--closed::before {
      display: none;
    }
  }

  .logo--opened::before,
  .logo--opened::after {
    display: none;
  }

  .logo__img {
    width: 174px;
    height: 60px;
  }

  .logo__burger {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .logo {
    width: 200px;
  }

  .logo__img {
    width: 203px;
    height: 60px;
  }
}
