.menu-card__link {
  .green-button();
  margin-bottom: 25px;
}

.menu-card__header {
  .upper();
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  text-align: left;
  color: #111111;
}


.menu-card {
  display: flex;
  flex-wrap: wrap;
  .border();
}

.menu-card__img {
  width: 140px;
  height: 144px;
}

@media (min-width: @tablet-width) {
  .menu-card {
    width: 325px;
    min-height: 430px;
    margin-right: 50px;
    margin-top: 140px;
    background-color: @grey;
    box-sizing: border-box;
  }

  .menu-card:nth-child(2n) {
    margin-right: 0;
  }

  .menu-card__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .menu-card__header {
    text-align: center;
    font-size: 20px;
  }

  .menu-card__link {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    width: 250px;
    box-sizing: border-box;
  }

  .menu-card__image-link {
    margin: 0 auto;
    margin-right: 50px;
  }

  .menu-card__img {
    width: auto;
    height: auto;
  }
}

@media (min-width: @desktop-width) {
  .menu-card {
    width: 245px;
    min-height: 430px;
    margin-right: 50px;
    margin-top: 140px;
    background-color: @grey;
    box-sizing: border-box;
  }

  .menu-card:nth-child(2n) {
    margin-right: 50px;
  }

  .menu-card__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .menu-card__header {
    display: block;
    text-align: center;
    font-size: 20px;
  }

  .menu-card__link {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    width: 170px;
    box-sizing: border-box;
  }

  .menu-card__image-link {
    margin: 0 auto;
  }
}
