.menu-list {
  .list-style();
}

.menu-list__item {
  .upper();
  .border();
  font-size: 20px;
  font-weight: bold;
  width: 320px;
  height: 65px;
  background-color: @white;

  &:hover {
    .opacity();
  }

  &:active {
    .opacity(0.3);
  }
}

.menu-list__link {
  .center();
  padding-top: 20px;
}

@media (min-width: @tablet-width) {
  .menu-list {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .menu-list__item {
    margin-right: 35px;
    font-weight: normal;
    width: auto;
    border: none;
    white-space: nowrap;
  }

  .menu-list__link {
    color: @black;

    &--active {
      padding-bottom: 20px;
      border-bottom: 2px solid @green-button;
    }
  }
}

@media (min-width: @desktop-width) {
  .menu-list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .menu-list__item {
    margin-right: 35px;
    font-weight: normal;
    width: auto;
    background: none;
    border: none;

    &:hover {
      border-bottom: 2px solid @white;
    }
  }

  .menu-list__link {
    color: @black;

    &--white {
      color: @white;
    }

    &--active {
      padding-bottom: 20px;
      border-bottom: 2px solid @green-button;
    }

    &--white-active {
      padding-bottom: 20px;
      border-bottom: 2px solid @white;
    }
  }
}
