.more-products {
  position: relative;
  .border();

  &::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 12px;
    background-image: url("../img/icon-plus.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.more-products__showmore {
  .grey-button();
  background-color: @grey;
  color: @greybrown;
  margin-bottom: 25px;
}

.more-products__paragraph {
  .upper(16px);
  .center();
  margin-bottom: 10px;
}

.more-products__tagline {
  .center();
  .arial(12px);
  font-weight: normal;
  margin-bottom: 22px;
}

.more-products__icon {
  display: block;
  margin: 0 auto;
  padding-top: 25px;
}

.more-products__path {
  fill: @lightgrey;
  opacity: 0.2;
}

@media (min-width: @tablet-width) {
  .more-products {
    width: 325px;
    min-height: 430px;
    margin-top: 140px;
  }

  .more-products__showmore {
    width: 250px;
    height: 40px;
    .margin(140px, 38px, auto 38px);
  }

  .more-products__paragraph {
    margin-top: 50px;
    font-size: 20px;
  }

  .more-products__tagline {
    margin-top: 25px;
    font-size: 16px;
  }

  .more-products__icon {
    width: 61px;
    height: 61px;
    padding-top: 55px;
  }
}

@media (min-width: @desktop-width) {
  .more-products {
    width: 245px;
    height: 430px;
    margin-top: 140px;
  }

  .more-products__showmore {
    width: 170px;
    height: 40px;
    margin-top: 85px;
  }
}
