.more-products {
  position: relative;
  .border();
  min-height: 210px;
  margin-bottom: 30px;

  &::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 12px;
    background-image: url("../img/icon-plus.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.more-products__showmore {
  .grey-button();
  background-color: @grey;
  color: @greybrown;
  margin-bottom: 20px;
  font-size: 16px;
}

.more-products__paragraph {
  .upper(16px);
  .center();
  margin-top: 20px;
  margin-bottom: 10px;
}

.more-products__tagline {
  .center();
  .arial(12px);
  font-weight: normal;
  margin-bottom: 22px;
}

.more-products__icon {
  display: block;
  margin: 0 auto;
  padding-top: 35px;
}

.more-products__path {
  fill: @greybrown;
}

@media (min-width: @tablet-width) {
  .more-products {
    width: 325px;
    height: 430px;
    margin-top: 140px;
  }

  .more-products__showmore {
    width: 250px;
    height: 40px;
    .margin(78px, 38px, auto 38px);
  }

  .more-products__paragraph {
    width: 150px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
  }

  .more-products__tagline {
    width: 180px;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 16px;
  }

  .more-products__icon {
    width: 61px;
    height: 61px;
    padding-top: 55px;
  }
}

@media (min-width: @desktop-width) {
  .more-products__paragraph {
    margin-left: 23px;
    line-height: 1;
  }

  .more-products {
    width: 245px;
    height: 435px;
    margin-top: 140px;
  }

  .more-products__showmore {
    width: 170px;
    height: 40px;
    margin-top: 77px;
    font-size: 16px;
  }
}
