.pattern-header__title {
  margin: 0;
  padding: 0;
  .margin(31px, 44px, 35px, 20px);
  font-size: 34px;

  &-padding {
    margin: 0;
    padding: 0;
    .padding(31px, 44px, 35px, 20px);
    font-size: 34px;
  }
}
