.select-program__paragraph {
  .upper();
  .margin();
  margin-bottom: 40px;
  line-height: 1.5;
}

@media (min-width: @tablet-width) {
  .select-program__paragraph {
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .select-program__header {
    margin-left: 0;
  }

  .select-program__paragraph {
    margin-left: 0;
  }
}
