.green-button(@width: 280px,
  @height: 40px) {
  .upper();
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  width: @width;
  height: @height;
  background-color: @green-button;
  color: @white;
  text-align: center;
  padding-top: 8px;
  box-sizing: border-box;
  .margin();

  &:hover {
    background-color: @green-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.grey-button(@width: 280px,
  @height: 40px) {
  .upper();
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  width: @width;
  height: @height;
  background-color: @grey;
  color: @greybrown;
  text-align: center;
  padding-top: 8px;
  box-sizing: border-box;
  .margin();

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.upper(@font-size: 14px) {
  text-transform: uppercase;
  font-size: @font-size;
}

.arial(@font-size: 14px) {
  font-size: @font-size;
  line-height: 1.29;
  font-family: "Arial", sans-serif;
}
.input-border() {
  border: solid 1px #cdcdcd;
  opacity: 0.5;
  height: 45px;
  outline: none;

  &:hover {
    border: solid 1px #cdcdcd;
  }

  &:focus {
    border: solid 2px #444444;
  }

  &:invalid {
    border: solid 2px #ff8282;
  }
}

.header-selection() {
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  text-align: left;
  color: #111111;
}

.opacity(@opacity: 0.8) {
  opacity: @opacity;
}

/*
.green-border(@width:50px, @height:50px) {
  background-color: @green-button;
  border-radius: 50%;
  width: @width;
  height: @height;
}
*/

.padding(@padding-top: 10px, @padding-right: 10px, @padding-bottom: 10px, @padding-left: 10px) {
  padding: 0;
  padding-top: @padding-top;
  padding-right: @padding-right;
  padding-bottom: @padding-bottom;
  padding-left: @padding-left;
}

.margin(@margin-top: 0, @margin-right: 20px, @margin-bottom: 0, @margin-left: 20px) {
  margin: 0;
  margin-top: @margin-top;
  margin-right: @margin-right;
  margin-bottom: @margin-bottom;
  margin-left: @margin-left;
}
