
.over-products__order {
  .green-button();
}

.over-products__list {
  list-style: none;
}

.over-products__item h3 {
  .upper(16px);
  text-align: left;
  font-weight: normal;
}

.over-products__table tr {
  .arial();
  line-height: 1;
}

.over-products__message {
  .arial(16px);
  /*color: @white;*/
  line-height: 1.25;
  font-weight: normal;
}
