.over-products__order {
  .green-button();
}

.over-products__list {
  list-style: none;
  padding: 0;
}

.over-products__header {
  .upper(16px);
  text-align: left;
  font-weight: normal;
}

.over-products__tr {
  .arial();
  line-height: 1;
}
