.page-main__selection,
.page-main__button-submit {
  .green-button();
}

.page-main__program p,
.page-main__example-textcost {
  .upper();
}

.page-main__catalog-slim,
.page-main__catalog-pro {
  .upper(16px);
}

.page-main__example-text {
  .arial();
}

.page-main__example {
  background-color: @grey;
}

.page-main__header-text {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: 320px 305px;
}
