.page-footer__white {
  background-color: @white;
}

.page-footer__invitation {
  .upper(16px);
  line-height: 1.25;
  font-weight: normal;
}

.page-footer__address {
  .arial();
  line-height: 1.45;
  font-style: normal;
}

.page-footer__cooperation {
  .margin();
}

.page-footer__social {
  .margin();
}

.page-footer-white {
  background-color: white;
}
