.page-main__selection,
.page-main__button-submit {
  .green-button();
  outline: none;
  border: none;
  padding-top: 0;
}

.page-main__food {
  .margin(30px, 20px, 0, 20px);
}

.page-main__selection {
  padding-top: 8px;
  .margin();
}

.page-main__select-paragraph,
.page-main__example-textcost {
  .upper();
}

.page-main__catalog-header {
  .margin(31px, 44px, 35px, 22px);
}

.page-main__header,
.page-main__bold {
  display: block;
  color: @white;
  font-weight: normal;
  text-align: center;
}

.page-main__header {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-top: 30px;
  line-height: 1;
}

.page-main__info {
  .margin();
}

.page-main__howitworks {
  .margin();
}

.page-main__catalog-slim,
.page-main__catalog-pro {
  .upper(16px);

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

.page-main__example-text,
.page-main__slim-paragraph,
.page-main__gain-paragraph {
  .arial();
}

.page-main__example {
  background-color: @grey;
}

.page-main__header-text {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 305px;
}

/*
.page-main__slim-img--slim,
.page-main__gain-img--gain {
  .green-border();
}
*/
