.selection-form__fieldset {
  border: none;
}

.selection-form__legend {
  .header-selection();
}

.selection-form__fieldset ::placeholder {
  .upper(16px);
  color: @greybrown;
  font-family: "Oswald", "Arial", sans-serif;
}

.selection-form__required {
  &--bottom {
    .arial();
    display: block;
    line-height: 1.14;
    text-align: center;
  }
}
