@import "normalize.css";
@import "blocks/academy-info.less";
@import "blocks/catalog.less";
@import "blocks/food-extra-list.less";
@import "blocks/footer-block.less";
@import "blocks/form-wrapper.less";
@import "blocks/field.less";
@import "blocks/example.less";
@import "blocks/howitworks-list.less";
@import "blocks/gift.less";
@import "blocks/index-header.less";
@import "blocks/info-block.less";
@import "blocks/info-container.less";
@import "blocks/logo.less";
@import "blocks/menu-card.less";
@import "blocks/menu-list.less";
@import "mixins.less";
@import "blocks/more-products.less";
@import "blocks/over-products.less";
@import "blocks/page-footer.less";
@import "blocks/page-header.less";
@import "blocks/page-main.less";
@import "blocks/page-navigation.less";
@import "blocks/page-social.less";
@import "blocks/pattern-header.less";
@import "blocks/program-goal-list.less";
@import "blocks/select-program.less";
@import "blocks/selection-form.less";
@import "variables.less";
@import "visually-hidden.less";

@font-face {
  font-weight: normal;
  font-family: "Oswald";
  font-style: normal;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Oswald";
  font-style: normal;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("fonts/oswaldmedium.woff") format("woff");
}

body {
  padding: 0;
  /*margin: 0 auto;*/
  line-height: auto;
  font-family: "Oswald", "Arial", sans-serif;
  /*width: 320px;*/
  /*border: 2px solid black;*/
  /*letter-spacing: 0.05em;*/
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;

  .visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

svg {
  padding: 0;
  margin: 0;
}

.size-container {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  body {
    min-width: @tablet-width;
  }

  .size-container {
    width: 768px;

    &--top {
      margin-top: -35px;
    }
  }
}

@media (min-width: @desktop-width) {
  body {
    min-width: @desktop-width;
  }

  .size-container {
    width: 1220px;

    &--big {
      width: 1300px;
      margin-left: 115px;
    }

    &--bottom {
      margin-bottom: 40px;
    }

    &--desktop {
      width: 1350px;
      margin-left: 40px;
    }

    /*&--footer {
      width: 1365px;
      margin-left: 77px;
      margin-right: 110px;
    }*/
  }
}
