@import "academy-info.less";
@import "catalog.less";
@import "food-extra-list.less";
@import "footer-block.less";
@import "form-wrapper.less";
@import "example.less";
@import "howitworks-list.less";
@import "how-work.less";
@import "gift.less";
@import "index-header.less";
@import "info-block.less";
@import "logo.less";
@import "menu-card.less";
@import "menu-list.less";
@import "mixins.less";
@import "more-products.less";
@import "over-products.less";
@import "page-footer.less";
@import "page-header.less";
@import "page-main.less";
@import "page-navigation.less";
@import "page-social.less";
@import "program-goal-list.less";
@import "select-program.less";
@import "selection-form.less";
@import "variables.less";
@import "visually-hidden.less";

body {
  /*margin: 0;*/
  padding: 0;
  line-height: auto;
  font-family: "Oswald", "Arial", sans-serif;
  margin: 0 auto; /* Задал временно */
  width: 320px;
  /*border: 2px solid black;*/
  /*letter-spacing: 0.05em;*/
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .page-header {
    min-height: 83px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    min-height: 113px;
  }
}
