@import "blocks/academy-info.less";
@import "blocks/catalog.less";
@import "blocks/food-extra-list.less";
@import "blocks/footer-block.less";
@import "blocks/form-wrapper.less";
@import "blocks/field.less";
@import "blocks/example.less";
@import "blocks/howitworks-list.less";
@import "blocks/gift.less";
@import "blocks/index-header.less";
@import "blocks/info-block.less";
@import "blocks/info-container.less";
@import "blocks/logo.less";
@import "blocks/menu-card.less";
@import "blocks/menu-list.less";
@import "mixins.less";
@import "blocks/more-products.less";
@import "blocks/over-products.less";
@import "blocks/page-footer.less";
@import "blocks/page-header.less";
@import "blocks/page-main.less";
@import "blocks/page-navigation.less";
@import "blocks/page-social.less";
@import "blocks/pattern-header.less";
@import "blocks/program-goal-list.less";
@import "blocks/select-program.less";
@import "blocks/selection-form.less";
@import "variables.less";
@import "visually-hidden.less";

body {
  margin: 0;
  padding: 0;
  line-height: auto;
  font-family: "Oswald", "Arial", sans-serif;
  width: 320px;
  /*border: 2px solid black;*/
  /*letter-spacing: 0.05em;*/
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  padding: 0;
  margin: 0;
}
